<?xml version="1.0" encoding="UTF-8" ?>
<mappers namespace="tusermapper">
    <mapper id="insertTuser" returnType="int">
        insert into tuser values (null,?,?,?,?);
    </mapper>
    <mapper id="delTuserByTid" returnType="int">
        delete from tuser where tid = ?
    </mapper>
    <mapper id="updateTuserByTid" returnType="int">
        update tuser set tage = ? where tid = ?
    </mapper>
    <mapper id="getTuserByTid" returnType="cn.ly.mvntest.pojo.Tuser">
        select * from tuser where tid = ?
    </mapper>
    <mapper id="getAllTuser" returnType="cn.ly.mvntest.pojo.Tuser">
        select * from tuser
    </mapper>
</mappers>