<?xml version="1.0" encoding="UTF-8" ?>
<mappers namespace="cn.ly.mvntest.mapper.UserMapper">
    <mapper id="getAll" returnType="cn.ly.mvntest.pojo.User">
        select * from user;
    </mapper>

    <mapper id="getOne" returnType="cn.ly.mvntest.pojo.User">
        select * from user where uid=1;
    </mapper>
</mappers>